.exp-document-container{
    width:800px;
    text-align: left;
}

.jspsych-display-element{
    width: 100%;
    height: 100%;
}

button.trial-button{
    background-color:  white;
    font-size: 2vh;
    border-width: 3px;
    border-radius: 5px;
    
}
button.trial-button:hover{
    background-color: lightsteelblue;
    cursor: pointer;
}

button.trial-button:disabled {
    background-color: white;
    cursor: default;
  }
  
  button:disabled:hover {
    background-color: white;
  }

  #prompt-container p {
    margin: 0;
    padding: 0;
}