<html>
    <head>


        <style>
        .html{
        width:100%;
        }
        .content{
            width:80%;
            margin:auto;
        }

        </style>

    </head>
    <body>

    <div class="content">
        <div style="margin-top:20px;"></div>
        <div style="text-align:center;">
        <img src="static/images/university.png" style="float:right;width:100px;padding:8px" />
        <h3>Melbourne School of Psychological Sciences</h3>
        <h3>Debriefing Statement</h3>
        <h4>The Evolution of Hierarchical Category Systems</h4>
        </div>
        <div class="exp-document-container">
            <hr /> 
            <div style="text-align:center;">
                <strong>Katie Warburton (PhD student)</strong> email: <a href="mailto:kwarburton@student.unimelb.edu.au">kwarburton@student.unimelb.edu.au</a><br />
                <strong>Dr. Charles Kemp (Co-Supervisor)</strong> email: <a href="mailto:c.kemp@unimelb.edu.au">c.kemp@unimelb.edu.au</a><br />
                <strong>Dr. Lea Frermann (Co-Supervisor)</strong> email: <a href="mailto:lea.frermann@unimelb.edu.au">lea.frermann@unimelb.edu.au</a><br />
            </div>
            <hr />
            <p>
    Thank you for participating in a project investigating how people develop hierarchical category systems. [MORE]
            </p>
            <p>
    In this experiment you completed ...
            </p>
        
            <p>
    This research has been cleared by the Human Research Ethics Committee (HREC LNR 3A). If you have any concerns about this project please contact the Research Integrity Administrator, Office of Research Ethics and Integrity, University of Melbourne, VIC 3010. Tel: +61 8344 1376 or Email: <a href="mailto:research-integrity@unimelb.edu.au">research-integrity@unimelb.edu.au</a>.
            </p>

        </div>
        <div style="margin-top:30px;"></div>
    </div>

    </body>
</html>

