{% extends "experiment_wrapper.html" %}

{% block title %} Alien Taxonomist {% endblock %}

{% block extra_head %}
    <script src="{{url_for('static', filename='jsPsychCurrent/jspsych.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-html-keyboard-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-survey-multi-choice.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-external-html.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/adaptive-hierarchy.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-survey-multi-choice.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-html-button-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-preload.js')}}" type="text/javascript"></script>
    
    <!-- add d3 -->
    <script src="{{url_for('static', filename='js/d3.v6.min.js')}}" type="text/javascript"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='jsPsychCurrent/jspsych.css')}}" type="text/css"></link>
    <link rel="stylesheet" href="{{url_for('static', filename='css/experiment.css')}}" type="text/css"></link>

    <style>
        html{
            overflow-y: hidden;        
        }
        #jspsych-target{
            width: 100%;
            height: 100%;
        }
    </style>


{% endblock %}


{% block body %}
    <div id="jspsych-target">
    </div>
{% endblock %}


{% block after_body %}

  <script>
    var expt_data = {{data|safe}};
    console.log(expt_data);


    const jsPsych = initJsPsych({
      timeline: timeline,
      display_element: 'jspsych-target',
      on_finish: function() {
        // jsPsych.displayData will print your data on the page.
        // if you want to see it, comment out send_debrief() otherwise 
        // it'll send you through to another page before you have a chance to 
        // look at the data  
        //
        // jsPsych.data.displayData();


        // To save your data you would uncomment the 
        // code below 
        // 
        var all_data = jsPsych.data.get().json();
        _send_task_data(all_data);
        send_debrief();
      },
      default_iti: 250
    });



    /* Helper functions */
    var add_stimulus_text = function(word_list){
        for (var i = 0; i< word_list.length; i++){
            word_list[i]['stimulus'] = "<p style='font-size:2em;'>" + word_list[i]['token'] + "</p>";
        }
    };

    var set_intrial_items = function(study_list, test_list){
        // intrial: the token was on the study list
        var intrial = {};
        for(var i = 0; i < study_list.length; i++){
            intrial[study_list[i]['token']] = study_list[i];
        }
        for (var i = 0; i < test_list.length; i++){
            test_list[i]['intrial']  = intrial.hasOwnProperty(test_list[i]['token']) ;
        }
    };

    var send_debrief = function(data){
        if(_record_task_complete){
            //window.location.href ="/debrief";
            var form = document.createElement("form");
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/debrief');

            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'data');
            input.setAttribute('value', data);
            form.appendChild(input);


            input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'uid');
            input.setAttribute('value', "{{uid}}");
            form.appendChild(input);

            if(_mturk){
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'mturk');
                input.setAttribute('value', _mturk);
                form.appendChild(input);
            }else if(_prolific){
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'prolific');
                input.setAttribute('value', _prolific);
                form.appendChild(input);
            }
            
            document.body.appendChild(form);
            form.submit();

        }else{
            window.setTimeout(function(){
                send_debrief(data);
            }, 1000);
        } 
    };

    var load_json_file = function(file){
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': file,
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
    };

    var check_consent = function(elem) {
      if ($('#consent_checkbox').is(':checked')) {
        return true;
      }
      else {
        alert("If you wish to participate, you must check the box next to the statement 'I agree to participate in this study.'");
        return false;
      }
      return false;
    };

    var get_tree = function(depth) {
        if(depth == 2) {
            trees = load_json_file("{{url_for('static', filename='taxonomies/tree2D.json')}}");
            idx = Math.floor(Math.random() * trees.length);
            return trees[idx]

        } else if(depth == 3) {
            trees = load_json_file("{{url_for('static', filename='taxonomies/tree3D.json')}}");
            idx = Math.floor(Math.random() * trees.length);
            return trees[idx]
        }
    }

    var get_tree_practice = function(depth) {
        if(depth == 2) {
            trees = load_json_file("{{url_for('static', filename='taxonomies/tree2D.json')}}");
            return trees[0]

        } else if(depth == 3) {
            trees = load_json_file("{{url_for('static', filename='taxonomies/tree3D.json')}}");
            return trees[0]
        }
    }

    var get_trials = function(exp_data) {
        let trials = []
        for (let i = 0; i < expt_data.trials.length; i++) {
            var [depth, loc, ord] = expt_data.trials[i];
            var path = `static/${expt_data.stimuli[i]}/`; 
            // var trial_items = shift_items(loc, expt_data.orders[ord], expt_data.shift)
            var code = `${depth}${loc}${ord}`;
            var trial_items = expt_data.orders[code];
            if (i === 0) {
                first_prompt = "Here is a partially completed taxonomy for a group of aliens. Recall, your task is to add the new aliens into the categories you think they belong to. Categories you can add aliens to will turn red when you hover over them. You can also add a category by clicking add category if you think it is needed. Please familiarize yourself with the taxonomy and then click 'Begin Categorizing' when you are ready to start.";
            } else {
                first_prompt = "Here is another partially completed taxonomy for a different group of aliens. Familiarize yourself with the taxonomy and click 'Begin Categorizing' when you are ready to start.";

            }

            let button_labels = ['Begin Categorizing']
            for(j=0; j<trial_items.length-1; j++) {
                button_labels.push('Next Alien');
            }
            button_labels.push('Finish');
            var item_prompt = "Here is the first alien. Please add it to one of the categories at the bottom. When you are satisfied with its placement click 'Next Alien' to continue.";
            var trial_data = {
                type: jsPsychAdaptiveHierarchy,
                item_loc: path,
                start_tree: get_tree(depth),
                depth: depth, 
                title: `Alien Group ${expt_data.names[i]}`,
                prompts: [first_prompt, item_prompt],
                button_labels: button_labels,
                items: trial_items,
                data: {'part': 'experiment', 'condition': code}
            }
            trials.push(trial_data);

            if (i+1 < expt_data.trials.length) {
                between_prompt = `You've finished categorizing alien group <i>${expt_data.names[i]}</i>. Press any key to continue to the next group.`;
            } else {
                between_prompt = `You've finished categorizing alien group <i>${expt_data.names[i]}</i>. That was the last group! Press any key to complete the experiment.`;
            }

            var between_screen = {
                type: jsPsychHtmlKeyboardResponse,
                stimulus: between_prompt

            }
            trials.push(between_screen);
        }
        console.log(trials.length);
        return trials
    }

    /* create timeline */
    var timeline = [];

    /* define welcome message trial */
    var welcome_block = {
      type: jsPsychHtmlKeyboardResponse,
      stimulus: "Welcome to the experiment. Press any key to begin.",
      on_start: function(trial) { $( "#jspsych-target" ).focus(); },
      data: {'part': 'welcome'}
    };
    timeline.push(welcome_block);


    var plain_language_statement = {
        type: jsPsychExternalHtml,
        url: "{{url_for('static', filename='html/plain-language-statement.html')}}",
        cont_btn: "next",
        data: {'part': 'pls'}
    };

    timeline.push(plain_language_statement);

    // Consent
    var consent = {
        type: jsPsychExternalHtml,
        url: "{{url_for('static', filename='html/consent.html')}}",
        cont_btn: "next",
        check_fn: check_consent,
        data: {'part': 'consent'},
        on_finish:function(){
                if(_rep===1&&_rep_on_consent===1){
                    _mark_rep_as_done();
                }
        }
    };
    timeline.push(consent);

    // If you want to keep the PLS and consent code, 
    // Then your code will probably start here.

    // declare the block.
    var instructions = {
        type: jsPsychExternalHtml,
        url: "{{url_for('static', filename='html/instructions.html')}}",
        cont_btn: "read_instructions",
        data: {'part': 'instructions'}
    };

    var sanityCheck = {
        type: jsPsychSurveyMultiChoice,
        questions: [
            {
                prompt: "I can add aliens to ANY level of the taxonomy.",
                name: 'q1',
                options: jsPsych.randomization.shuffle(['True', 'False']),
                required: true
            },
            {
                prompt: "I can add all NEW aliens to the same category.",
                name: 'q2',
                options: jsPsych.randomization.shuffle(['True', 'False']),
                required: true
            },
            {
                prompt: "I can create a new category if I feel like the existing categories aren't appropriate for the new alien I'm adding to the taxonomy.",
                name: 'q3',
                options: jsPsych.randomization.shuffle(['True', 'False']),
                required: true
            },
            {
                prompt: "When hovering over a category that you can add items too it's border changes colour. What colour does its border change too?",
                name: 'q4',
                options: jsPsych.randomization.shuffle(['Green', 'Yellow', 'Red', 'Orange']),
                required: true
            },
            {
                prompt: "I MUST create a new category for all new alien's being added to the taxonomy.",
                name: 'q5',
                options: jsPsych.randomization.shuffle(['True', 'False']),
                required: true
            }
        ],
        preamble: '<h3 style="text-align: left;">UNDERSTANDING CHECK: Please answer the following questions. To proceed you must answer all questions correctly. Otherwise you will be taken back to the start of the tutorial.</h3>',
        data: {'part': 'sanity-check'},    
        on_finish: function(data) {
            var answers = data.response;
            if (answers.q1 === 'False' && answers.q2 === 'True' && answers.q3 === 'True' && answers.q4 === 'Red' && answers.q5 === 'False') {
                data.pass = true;
                data.num_correct = 5;
            } else {
                data.pass = false;
                data.num_correct = Number(answers.q1 === 'False') + Number( answers.q2 === 'True') +  Number(answers.q3 === 'True') + Number(answers.q4 === 'Red') + Number(answers.q5 === 'False');
            }
        }
    }

    var feedback = {
        type: jsPsychHtmlKeyboardResponse,
        stimulus: function(){
            var pass_to_exp = jsPsych.data.getLastTrialData().values()[0].pass; 
            var num_correct = jsPsych.data.getLastTrialData().values()[0].num_correct;
            console.log(pass_to_exp)
            var html_str = `<h3> ${num_correct}/5 </h3>`;
            if (pass_to_exp) {
                return html_str +
                 "<p align='center'>All correct! Press any key to begin classifying aliens.</p>"
            } else{
                return  html_str +
                "<p align='center'> Some answers are incorrect. Press any key to return to return to the start of the instructions. Please pay attention to the information provided.</p>"
            }

        },
        data: {'part': 'sanity-feedback'}
    }


    var tutorial_1 = {
        type: jsPsychAdaptiveHierarchy,
        item_loc: "{{url_for('static', filename='stimuli/Practice 1/')}}",
        start_tree: get_tree_practice(2),
        depth: 2,
        title: 'Practice Taxonomy 1',
        prompts: [
            "<p>Here is an example of a partially completed taxonomy. It has <u>2 levels of categorization</u>. Now imagine that the circles are aliens. Our scientists are already convinced that all the items you will see belong to the top category. However they still need to sort them into the bottom categories. This is where you will come in. You must sort each new alien into the bottom level category that you believe it belongs to. Press 'Begin Categorizing' to start the tutorial.</p>",

            "<p>Here is a new alien! To keep things simple, the borders of categories you can add items to will turn <u>red</u> when you hover over them. To familiarize yourself with the set up, try hovering over all the categories in the tree. Notice which ones turn red. Then <u>click</u> on the category you want to add the alien to. In this round, please add it to the category with the other red circles to demonstrate your understanding. Once you are done click 'Next Alien'.</p>",

            "<p>Once you have clicked 'Next Alien', you cannot move the alien from the previous trial. However, you will be given another alien to add to the taxonomy. You cannot move on until you add this alien into the taxonomy so please add it and then click 'Next Alien' again.</p>",

            "<p>This is the final alien. Please add it to the taxonomy and then click 'Finish'.</p>"

        ],
        button_labels: ['Begin Categorizing', 'Next Alien', 'Next Alien', 'Finish'],
        items: [9, 10, 11],
        practice_mode: true,
        disable_new_cat: true, 
        data: {'part': 'tutorial'}
    }

    var tutorial_debrief_1 = {
        type: jsPsychHtmlKeyboardResponse,
        stimulus: "<div><p style='font-size: 20px;'>Congratulations! You've completed the first stage of the tutorial. Notice how all the circles you were shown were red and belonged to the same category. That is totally fine. The categories do not have to be equally sized, nor does every category have to be used.</p> <p>Press any key to move on to the next stage.</p></div>",
        data: {'part': 'tutorial-debrief'}
    }

    var tutorial_2 = {
        type: jsPsychAdaptiveHierarchy,
        start_tree: function(){
            var past_tutorials = jsPsych.data.get().filter({trial_type: "hierarchical-categorization"});
            return past_tutorials.trials[past_tutorials.trials.length-1].final_tree; 
        },
        items: [12, 15, 16, 13, 17, 14, 9],
        depth: 2,
        title: 'Practice Taxonomy 1',
        practice_mode: true,
        disable_new_cat: false, 
        button_labels: ['Begin Categorizing', 'Next Alien', 'Next Alien', 'Next Alien', 'Finish'],
        prompts: [
            "<p>Here is the same taxonomy. It includes the items you've already added to the hierarchy. In this part we will categorize more aliens to explore some other options you have when categorizing. Press 'Begin Categorization' when you are ready to start.</p>",

            "<p>Here is another circle representing a new alien. Unlike in the previous round, this item should be placed into the category with the other yellow circles. Please do so and then click 'Next Alien'.</p>",

            "<p>Now here is another alien. This alien is not red or yellow, it is orange. Hover over the text that says 'New Category' and observe how it turns red. Try clicking this and see how the alien moves from the box to a new category. Then click 'Next alien'.</p>",

            "<p>Here is an alien whose membership might be less clear. Try clicking on the category you think it most fits, however instead of immediately clicking next alien, try moving it between all the categories you can add an item to. Decide which category you think it best matches as then click 'Next Alien'. REMEMBER, once you click next, you can't move the alien anymore. </p>",

            "<p>Here are a few more aliens to categorize to get you familiar with the setting. Keep adding them until you can click 'Finish'</p>",

            "<p>Here are a few more aliens to categorize to get you familiar with the setting. Keep adding them until you can click 'Finish'</p>",

            "<p>Here are a few more aliens to categorize to get you familiar with the setting. Keep adding them until you can click 'Finish'</p>",

            "<p>Here are a few more aliens to categorize to get you familiar with the setting. Keep adding them until you can click 'Finish'</p>",

    ],
        item_loc: "{{url_for('static', filename='stimuli/Practice 1/')}}",
        data: {'part': 'tutorial'}

    }

    var tutoria_3 = {
        type: jsPsychAdaptiveHierarchy,

    }

    var practice_loop = {
        timeline: [instructions, tutorial_1, tutorial_debrief_1, tutorial_2, sanityCheck, feedback],
        loop_function: function(data) {
            console.log(data);
            if (data.values()[4p].pass == true) { 
                return false; 
            } else { 
                return true;
           }
        },
        data: {'part': 'practice'}
    }

    timeline.push(practice_loop);

    timeline.push({
        timeline: get_trials(),
    });
    /* start the experiment */
    jsPsych.run(timeline);	
  </script>

{% endblock %}
