{% extends "experiment_wrapper.html" %}

{% block title %} Alien Taxonomist {% endblock %}

{% block extra_head %}
    <script src="{{url_for('static', filename='jsPsychCurrent/jspsych.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-html-keyboard-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-image-keyboard-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-survey-multi-choice.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/plugin-external-html.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jsPsychCurrent/adaptive-hierarchy.js')}}" type="text/javascript"></script>
    <!-- add d3 -->
    <script src="{{url_for('static', filename='js/d3.v6.min.js')}}" type="text/javascript"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='jsPsychCurrent/jspsych.css')}}" type="text/css"></link>
    <link rel="stylesheet" href="{{url_for('static', filename='css/experiment.css')}}" type="text/css"></link>

    <style>
        html{
            overflow-y: hidden;        
        }
        #jspsych-target{
            width: 100%;
            height: 100%;
        }
    </style>


{% endblock %}


{% block body %}
    <div id="jspsych-target">
    </div>
{% endblock %}


{% block after_body %}

  <script>
    var expt_data = {{data|safe}};
    console.log(expt_data);


    const jsPsych = initJsPsych({
      timeline: timeline,
      display_element: 'jspsych-target',
      on_finish: function() {
        // jsPsych.displayData will print your data on the page.
        // if you want to see it, comment out send_debrief() otherwise 
        // it'll send you through to another page before you have a chance to 
        // look at the data  
        //
        jsPsych.data.displayData();

        // To save your data you would uncomment the 
        // code below 
        // 
        //var all_data = jsPsych.data.get().json();
        //_send_task_data(all_data);
        //send_debrief();
      },
      default_iti: 250
    });



    /* Helper functions */
    var add_stimulus_text = function(word_list){
        for (var i = 0; i< word_list.length; i++){
            word_list[i]['stimulus'] = "<p style='font-size:2em;'>" + word_list[i]['token'] + "</p>";
        }
    };

    var set_intrial_items = function(study_list, test_list){
        // intrial: the token was on the study list
        var intrial = {};
        for(var i = 0; i < study_list.length; i++){
            intrial[study_list[i]['token']] = study_list[i];
        }
        for (var i = 0; i < test_list.length; i++){
            test_list[i]['intrial']  = intrial.hasOwnProperty(test_list[i]['token']) ;
        }
    };

    var send_debrief = function(data){
        if(_record_task_complete){
            //window.location.href ="/debrief";
            var form = document.createElement("form");
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/debrief');

            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'data');
            input.setAttribute('value', data);
            form.appendChild(input);


            input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'uid');
            input.setAttribute('value', "{{uid}}");
            form.appendChild(input);

            if(_mturk){
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'mturk');
                input.setAttribute('value', _mturk);
                form.appendChild(input);
            }else if(_prolific){
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'prolific');
                input.setAttribute('value', _prolific);
                form.appendChild(input);
            }
            
            document.body.appendChild(form);
            form.submit();

        }else{
            window.setTimeout(function(){
                send_debrief(data);
            }, 1000);
        } 
    };

    var load_json_file = function(file){
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': file,
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
    };

    var check_consent = function(elem) {
      if ($('#consent_checkbox').is(':checked')) {
        return true;
      }
      else {
        alert("If you wish to participate, you must check the box next to the statement 'I agree to participate in this study.'");
        return false;
      }
      return false;
    };

    /* create timeline */
    var timeline = [];

    /* define welcome message trial */
    var welcome_block = {
      type: jsPsychHtmlKeyboardResponse,
      stimulus: "Welcome to the experiment. Press any key to begin.",
      on_start: function(trial) { $( "#jspsych-target" ).focus(); },
      data: {'part': 'welcome'}
    };
    timeline.push(welcome_block);


    // var plain_language_statement = {
    // type: jsPsychExternalHtml,
    // url: "{{url_for('static', filename='html/plain-language-statement.html')}}",
    // cont_btn: "next",
    // data: {'part': 'statement'}
    // };

    // timeline.push(plain_language_statement);

    // // Consent
    // var consent = {
    // type: jsPsychExternalHtml,
    // url: "{{url_for('static', filename='html/consent.html')}}",
    // cont_btn: "next",
    // check_fn: check_consent,
    // data: {'part': 'consent'},
    // on_finish:function(){
    //         if(_rep===1&&_rep_on_consent===1){
    //             _mark_rep_as_done();
    //         }
    // }
    // };
    // timeline.push(consent);

    // If you want to keep the PLS and consent code, 
    // Then your code will probably start here.


    // declare the block.
    var trial = {
        type: jsPsychExternalHtml,
        url: "{{url_for('static', filename='html/instructions.html')}}",
        cont_btn: "read_instructions",
        data: {'part': 'instructions'}
    };

    timeline.push(trial);

    var orderedSort = {
        type: jsPsychAdaptiveHierarchy,
        start_tree: load_json_file("{{url_for('static', filename='taxonomies/tree3D.json')}}"),
        depth: 3, 
        start_prompt: "Here is an existing alien taxonomy. Your task is to add the new items into the categories you think they belong to. Click next when you are ready to start.",
        item_prompt: "Here is an alien. Please add it to one of the categories at the bottom.",
        items: ["{{url_for('static', filename='stimuli/Set 1/item (13).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (21).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (17).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (15).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (14).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (16).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (1).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (17).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (18).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (32).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (20).png')}}",
                "{{url_for('static', filename='stimuli/Set 1/item (19).png')}}"]
                ,

        data: {'part': 'experiment'}
    }
    timeline.push(orderedSort);
    




    /* Setup study documents and the comprehension questions */

    

    /* start the experiment */
    jsPsych.run(timeline);	
  </script>

{% endblock %}
